@import './components/variables';

* {
    margin: 0;
    box-sizing: border-box;
}

.section-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    width: 1312px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
}